.title {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -5px;
  }
  
  .letter-a {
    color: #FF5733; /* Color for letter A */
  }
  
  .letter-l {
    color: #daaa0f; /* Color for letter L */
  }
  
  .letter-i {
    color: #546b2a; /* Color for letter I */
  }
  
  .letter-m {
    color: #C70039; /* Color for letter M */
  }
  
  .letter-b {
    color: #581845; /* Color for letter B */
  }
  
  .letter-r {
    color: #900C3F; /* Color for letter R */
  }
  
  .letter-y {
    color: #0000FF; /* Color for letter Y */
  }
  